<main class="flex flex-col justify-center w-full md:flex-row p-10 gap-6">
  <div class="w-full">
    <div class="space-y-2">
      <h2 class="text-center text-2xl font-bold text-blue-500">Agregar Ciudades</h2>
      <p class="font-semibold text-lg text-center">Agrega ciudades a la lista rellenando el siguiente formulario</p>
    </div>

    <app-form />

  </div>

  <div class="w-full">
    <h2 class="text-center text-2xl font-bold text-blue-500">Ciudades</h2>
    <app-cities />
  </div>

</main>